footer{position:relative;}

/* footer*/
#footer {   
	background-color: #5669ae;
	width:100%;
	margin:0 auto;
  }
  
  /* 
  outline:1px solid blue; */
  
.footerInner {
  background-color: #5669ae;
  margin:0 auto;
  padding:31px 0;
  width:1200px;
  padding:31px 7px;
  box-sizing:border-box;
}

.footLogo { 
  display: flex;
  width: 110px;
  height: auto;
}

.footAdd { 
  padding-top:20px;
  color:#d2d2d2;
}

.footAdd a{
  color:#d2d2d2;
}

.footAdd a:hover {
  color:#fff;
  }
  
/* .copyright::after { content:""; display:block; clear:both; } */
#footer li { 
  font-size: 15px; 
  display:inline;  
  color:#b4b4b4;
  }
  
/* 
outline:1px solid blue; */
  
  
#footer .copyright { 
  font-size: 15px; 
  letter-spacing:-0.3px; 
  padding-top:10px;
  width:100%;
  position:relative; 
}


.sns {
  position:absolute; 
  bottom:0px; 
  right:30px;
}

.sns li { 
  padding-left:20px;
}

.sns li img {
	height:26px;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s ease-out 0s;
	transition: all 0.5s ease-out 0s;
	opacity: 1;

}

/* 
outline:1px solid blue; */

@media all and (max-width:780px)  {

.footLogo { 
	display: flex;
	width: 7em;
}

.footAdd { 
	padding-top:1.0em;
}

#footer li { 
	font-size: 0.9em; 
	display:inline;  }


#footer .copyright { 
	font-size: 0.9em; 
	letter-spacing:-0.3px; 
	padding-top:10px;
	clear:both;
}

.footerInner {
	margin:0 auto;
	padding:31px 24px 50px; /* 24px여백 */	
	max-width:1200px;
}
.sns {
	position:absolute; 
	bottom:-30px; 
	left:0;
	display:inline;
}

.sns li { 
	width:100%;
	padding-left:0;
	padding-right:15px;
}
.sns li img {
	height:1.7em;
}}