@charset "utf-8";

#array{width:310px; height:80px;  margin:50px auto 30px;  position:relative;}
#array p {text-align:center; }
h4 {text-align:center; }


.array1,.array2,.array3{margin-right:20px; ;}
    #array h3{z-index:-100;width:247px; height:2px; background-color:#E9EDF7; 
        margin-left:30px; margin-top: 25px; position:absolute; left:0; top:0;} 
        .array1{width:60px;  float:left; text-align:center;  }
        .array1 p{ background-color:#E9EDF7; width: 52px; height: 52px;
            text-align:center; line-height:52px; color:#B3BDD6; border-radius:26px; font-size:20px;}
        .array1 h4{font-size:14px; color:#B3BDD6; margin-top:10px; }
        .array2{width:125px; height:80px; float:left;}
        .array2 p{background-color:#5277A9; width: 52px; height: 52px; text-align:center; color:white; border-radius:26px; font-size:20px;margin:0 0 10px 35px;}
        .array2 h4{font-size:14px; float:left; color:#B3BDD6; margin-left:10px;}
            .array2 p img{width: 26px; height:26px; margin-top:13px ;}
        .array3{width:60px; height:80px; float:left;}
        .array3 p{background-color:#E9EDF7; width: 52px; height: 52px; text-align:center; color:#B3BDD6; line-height:52px; border-radius:26px; font-size:20px;margin-bottom: 10px;}
        .array3 h4{font-size:14px; float:left; color:#B3BDD6} 


        
        
        #log{width:460px; height:384px; margin:0 auto;  position:relative;}
        #log input[type="text"],[type="password"]{width: 434px; height:56px; font-size:18px; border-radius:10px;
            margin-top:25px; border:1px solid #C2C2C2; padding-left: 24px; color:#8C8B8B}
            #log input[type="text"]{background-color:#F0F3F6;}
            #log  img{position:absolute; left:420px; top:125px;}
            #log small{width:211px; height:21px; font-size: 16px; margin:0 0 40px 120px; color:#9A9797;} 
                #log small a{color:#9A9797;} 
            #log button{width:460px; height:50px; background-color:#345AA0; color:white; font-size:20px; border-radius:10px; margin:40px 0 25px 0;}
        #checkbox{width:397px; height:254px;  margin: 40px auto 65px; }
            #checkbox .one,.two,.three,.four,.five {width:395px; height:50px; border-bottom:1px solid #DFDFDF; line-height:50px; float:left;}       
            #checkbox input[type="checkbox"]{width:25px; height:25px; border-radius: 3px;  float:left; display:block; margin: 10px 5px 0 0; }
            #checkbox label[for="one"]{font-size:20px; color:#2B3C5B; }
            #checkbox label[for="two"]{font-size:16px; color:#2B3C5B; }
            #checkbox label[for="three"]{font-size:16px; color:#2B3C5B; }
            #checkbox label[for="four"]{font-size:16px; color:#2B3C5B; }
            #checkbox label[for="five"]{font-size:16px; color:#2B3C5B; }
