@charset "utf-8";

/* 
outline:1px solid blue; */


/* 구글 맵을 포함하는 컨테이너 */
.map-container {
  width: 100%;
  max-width: 1200px; /* 최대 너비 조정 */
  margin: 20px auto; /* 상하 여백 및 중앙 정렬 */
  margin:0 auto;
  text-align:center;
}

/* 위치 설명 텍스트 스타일 */
.location-description {
    text-align: center; /* 텍스트를 중앙 정렬 */
    font-size: 16px; /* 글씨 크기 조정 */
    color: #333; /* 글씨 색상 */
    margin: 20px 0; /* 상하 여백 조정 */
}
