@charset "utf-8";

/* visual */
/* #visual {	
} */
.slider {
	position:relative;
	height:360px;
}
.img_wrap {
  margin: 0 auto; /* 상하 여백 및 중앙 정렬 */ /* 상단 메뉴와 슬라이드 이미지 간격 */
	width:100%;
	height:560px;
	background:url(../img/common/bg_main01.png) no-repeat center top;
	position:absolute;
	left:0; 
	top:0;
  display:none;
}
.img_wrap.v1 {
    display:block;
}
/* 
outline:1px solid blue; */

.img_wrap.v1 {background-image:url(../images/main_slide1.png);}
.img_wrap.v2 {background-image:url(../images/main_slide2.png);}
.img_wrap.v3 {background-image:url(../images/main_slide3.png);}
.txt_wrap {
	text-align:center;
	position:absolute;
	width:100%;
	left:0;
	top:165px;
}
.txt_wrap .tit {
	color:#fff;
	font-size:54px;
	line-height:80px;
	font-family:"hcT";
	font-weight:normal;
	margin-bottom:8px;
	animation:main_v 1s;
}
.txt_wrap .txt {
	color:#fff;
	font-size:16px;
	line-height:25px;
	animation:main_v 1.2s;
}
.txt_wrap .btn {
	color:#fff;
	font-size:16px;
	line-height:46px;
	padding:0 28px;
	border:1px solid rgba(255,255,255,0.5);
	border-radius:3px;
	display:inline-block;
	margin-top:55px;
	animation:main_v 1.4s;
  
}



@keyframes main_v {
	0% {
		transform:translateY(100px);
		opacity:0;
	}
	100% {
		transform:translateY(0);
		opacity:1;
	}
}

.indicator {
	position:absolute;
	z-index:5;
	left:0;
	bottom:-100px;
	text-align:center;
	width:100%;
}
.indicator .btnAuto, 
.indicator .indi li {
	width:8px;
	height:8px;
	background:url(../img/common/sp_common.png) no-repeat;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}
.indicator .btnAuto {
	display:inline-block;
	background-position:-10px -135px;
	border:none;
	vertical-align:middle;
}
.indicator .indi {
	display:inline-block;
	vertical-align:middle;
}
.indicator .indi li {
	float:left;
	background-position:-30px -135px;
	margin-left:18px;
}
.indicator .indi .on {
	background-position: -20px -135px;
}	


/* 기업홍보영상, 뉴스 */
.fiff{
  width:1000px;
  margin:60px auto;
  display:flex;
}
.navien > h2{
  display:none;
}
.promote{
  width:550px;
  margin-right:20px;
}
.promote h2{
  z-index:10;
  font-size:20px;
  font-weight:500;
  cursor:default;
  line-height:40px;
  margin-bottom:24px;
}
.p_wrap{
  position:relative;
  background:#000;
}
.play_btn{
  position:absolute; top:50%; left:50%;
  transform:translate(-50%,-50%);
}
.promote .p_wrap img:last-child{
  width:100%; padding:13.15px 0;
}
.p_wrap iframe{
  width:100%;
  height:300px;
  display:none;
}

.news{
  width:380px;
  position:relative;
}
.news h2{
  font-size:20px;
  line-height:40px;
  display:block;
  border-bottom:3px solid #4b5da7;
}
.news ul li{
  border-bottom:1px solid #D9D9D9;
  position:relative;
  padding:10px 0;
  line-height:24px;
  text-indent:5px;
}
.news ul li a:hover h3{
  text-decoration:underline;
}
.news ul li h3{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  width:80%;
}
.date{
  position:absolute;
  top:10px;right:0;
}
.news > a{
  position:absolute;
  top:15px; right:0;
}

/*브랜드스토리 서식*/
.story{
  width:100%;
  background:url('../images/bg1.jpg');background-position: top top;
  height:430px;
}
.story > h2{display:none;}
.story_wrap{
  width:900px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:right;
  padding-top:142px;
  color:#fff;
}
.story_wrap h2{
  font-size:32px;
  width:300px;
  line-height:44px;
  position:relative;
  padding-top:10px;
}
.story_wrap h2:before{
  content:"";
  display:block;
  width:5px;
  height:100px;
  background:#4b5da7;
  position:absolute; top:10px; right:0;
}
.story_wrap p{
  margin-left:100px;
  font-size:16px;
  width:500px;
  padding:10px 0;
  line-height:26px;
}
/* sub content */

#subContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e4e8f8;
}

.contentWrapper {
  display: flex;
  width: 1200px;
}

.contentWrapper h1{
  line-height:40px;
  padding-bottom:5px;
}

.contentWrapper p{
  font-size:16px;
  line-height:20px;
  padding-bottom:5px;
}


/* 
outline:1px solid blue; */


.leftContent,
.rightContent {
  flex: 1;
  padding: 20px;
}

.leftContent img {
  width: 600px;
  height: auto;
}

.rightContent {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightContent h1{
font-size:30px;
}

.rightContent p{
font-size:15px;
}
/*****************/

#secondaryContent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#secondaryContent.contentWrapper{
display: flex;
  max-width: 1200px;
  width: 100%;
}

#secondaryContent.leftContent,
.rightContent {
  flex: 1;
  padding: 20px;
}

.rightContent img {
  width: 290px;
  height: auto;
  padding-left:100px;
}

.leftContent h1{
  width: 600px;
font-size:30px;
padding-left:30px;
padding-top:20px;
}

.leftContent p{
font-size:15px;
padding-left:30px;
padding-top:20px;
}

#thirdContent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  height:100px;
  padding-left:210px;
  background-color:#f0f0f0;
}


/* Sub content End */

