@charset "utf-8";

/* 
outline:1px solid blue; */

#my{width:900px;  }
    #my h1{font-size: 20px; color:#345AA0}
.gain{width:900px; height:191px; border: 1px solid #000000; border-radius:30px ; margin-top:22px; position:relative;}    
    .gain img{display:block; margin:58px 0 0 43px ; float:left; }
    .gain a{ display:block;  width:150px; 
        height:46px; line-height:46px; text-align:center; margin-bottom:20px; 
        font-size:20px; border-radius: 20px; background-color: #D9D9D9;
        position:absolute; left:711px; top:73px;}
.name{width:171px ; height:95px;  margin:60px 0 0 158px ;} 
    .name h2{font-size:27px; }
    .name p{margin-top:7px ; }
.park h1{margin: 44px 0 24px;}

    .cash h1{margin: 44px 0 24px;}
    .cash h2{width:266px; height:145px; line-height:145px; ; text-align:center; font-size:29px ; float:left; ; background-color:#A1B7CD;}
.re{width:638px; height:143px; margin:0 0 20px 266px; border:1px solid #919191; border-left:none; position:relative;}
    .re input[type="text"]{width:422px; height:55px; padding-left:20px ; margin:45px 0 0 29px ; font-size:29px ; }
    .re p{width:119px; height:56px; background-color:#D9D9D9; 
            border-radius:10px; text-align: center; line-height:56px ;
            font-size:29px; position:absolute; left:500px; top:46px; cursor: pointer;}



table{ border-collapse : collapse; }  /*이중선 제거*/
th,td{
     width: 129px;
     height: 55px;
     text-align: center;
     border: 1px solid #000;
     
     
     vertical-align: top;	/* 위 */
     vertical-align: bottom;   /* 아래 */
     vertical-align: middle;   /* 가운데 */
   }
   th{background-color:#A1B7CD ; font-size:20px; }
   td{height:241px; color:#B6B6B6;}
        .cash table th{width:150px;}