@charset "utf-8";

  /* layout */
#wrap {	width:100%; margin: 0 auto; }

/* search */
.search-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.search-container img {
	width: 30px; /* 이미지 크기 조정 */
	height: 30px; /* 이미지 크기 조정 */
	margin-right: 50px;
}

.search-container p {
	margin: 0;
	font-size: 13px;
	color: #fff;
	margin-left:130px; /* 텍스트와 이미지 간의 간격 좁히기 */
}

/* 
outline:2px solid red; */


/* 새로운 영역 스타일링 */

.home {
    background-color: #5669ae; /* 밝은 회색 배경색 */
    width: 100%; /* 가로 폭 */
    margin: 0 auto 20px; /* 상하 여백 및 중앙 정렬 */ /* 상단메뉴와 home 간격 */

}

.homeInner {
    background-color: #5669ae;
    width: 1200px; /* 가로 폭 */
    height: 40px; /* 세로 높이 */
    display: flex; /* 플렉스 박스를 사용하여 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 10px; /* 좌우 여백 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
	margin: 0 auto;
}

.home img {
    width: 20px; /* 이미지 가로 크기 */
    height: auto; /* 이미지 비율 유지 */
    margin-right: 10px; /* 이미지와 텍스트 사이의 여백 */
    /* padding-left:160px; */
    
}


/* 
outline:2px solid red; */


.home p {
  margin: 0; /* 기본 마진 제거 */
  font-size: 14px; /* 텍스트 크기 */
  color: #fff; /* 텍스트 색상 */
}

.home a {
  color: #fff; /* 링크 색상 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.home a:hover {
  text-decoration: underline; /* 호버 시 링크 밑줄 표시 */
}

.home p > a + span {
  margin: 0 5px; /* 경로 구분 기호와 링크 사이의 여백 */
  color: #fff; /* 경로 구분 기호 색상 */
}

/* =======================================
 */
#main {
	width:1200px;
	margin: 0 auto 50px; /* footer와의 간격 */
}
#main:after { content:""; display:block; clear:both; }
#main .title {
  font-size: 22px; /* 제목 폰트 크기 키우기 */
  /*margin: 0;  기본 마진 제거 */
  /* padding-left: 165px; 왼쪽 여백 추가 */
}

.titleInner {
	margin: 0 7px;
}
#main hr {
  /* border: 1px solid #ccc; 구분선 스타일 */
	margin: 20px 0 40px 0; /* 상하 여백 20px contents와의 간격 --px*/
	background:#ccc;
	height:1px;
	border:0;
	font-size: 0;
}

/* 
outline:1px solid green; */

section {margin:0 0 0 50px; }/* 사이드메뉴 제외한 사이 여백 */

.snb {
	float:left;
	/*margin:30px 0;  사이드메뉴 여백 위에게 안먹어서 이것으로 */
	margin: 0 7px;
}
.sideMenu{
	background-color:#F4F4F4;
	width:230px;
	margin:0 auto;
	border-radius:10px;
}

dt {
	text-align:center;
	background-color:#A1B7CD;
	/* background-color:#829FBC; */
	border:1px solid #eee;
	border-radius:10px 10px 0 0;
	color:#fff;
	height:125px;
	line-height:125px;
	font-size:18px;
}
dd {
	padding-left:15px; 
	color:#2f2f2f;
	background-color:#F4F4F4;
	height:46px;	
	line-height:46px;
	font-size:14px;	
	border-bottom:1px solid #BCBCBC;
}
dd a {
	display:block;
	color:#5684C9;
	background:url(..//images/ico_arrow_sm.png) right no-repeat;
}
dd:last-of-type {
	border-radius:0 0 10px 10px;
	border-bottom:1px solid #F4F4F4;
}

/* 
outline:1px solid blue; */

.contents { 
	float:left;
	width:900px;
}

/* .contInner {
} */

/* .contents p {
	margin:30px 0 0 0;
} */

/* .sTitle, .xsTitle {
} */
.sTitle {
	/* color:#5277A9; */
	color:#5e7eb9;
	font-size:22px;
	margin:0 0 20px 0;
	font-weight:bold;
}

.xsTitle {
	color:#1f75d6;
	font-size:18px;
	margin:20px 0 10px 0;
	font-weight:normal;
}

.expTitle {
	font-size: 13px; /* 설명 텍스트 폰트 크기 */
	margin: 10px 0 20px 0; /* 상단 여백 없음, 하단 여백 20px */
	/*padding-left: 165px;  왼쪽 여백 추가 */
}

.expXsTitle {	
	color:#1f75d6;
	font-size:13px;
	line-height:20px;
	margin:0 0 30px 0;
}

.tTitle {
	font-size:20px;
	margin-right:20px;
	display: flex; 
	align-items: center;
	font-weight:bold;
	color:#345AA0;
}

.cont{
	font-size:15px;
	line-height:20px;
}
.cont li{
	font-size:15px;
	line-height:40px;
	list-style: square inside;
}

.expCont {
	font-size:13px;
	line-height:20px;
}

.cautionTxt {
	padding-top:20px;
	color:#5e7eb9;
	font-size:14px;
	line-height:20px;
}


.point{
    color:rgb(18, 52, 156);
    font-size:14px;
    /* padding-left:400px; */
    text-decoration: underline;
}

.centerSpace30 {
	text-align:center;
	margin:30px;
}

/* 차량번호조회 서치 */
.spaceR20 {
	margin-right:20px;
	display: flex; 
	align-items: center;
	/* font-weight:bold; */
	/* color:#395f9f; */ 
}

.checkBox {
display: flex;
padding: 30px;
width:840px;
height: 50px;
justify-content: center; /* 중앙 정렬을 위해 컨테이너를 가운데로 배치합니다. */
background-color:#ebebeb;
border-radius: 8px;
/* margin:0 auto; */
}

.checkBoxInner {
margin:0 auto;
display: flex; 
align-items: center;
/* white-space: nowrap; */
} 

/* 
outline:1px solid blue; */

.checkBoxInner input#search::-webkit-input-placeholder {
color: #65737e;
}
.checkBoxInner1 input#search:-moz-placeholder { /* Firefox 18- */
color: #65737e;  
}
.checkBoxInner input#search::-moz-placeholder {  /* Firefox 19+ */
color: #65737e;  
}
.checkBoxInner input#search:-ms-input-placeholder {  
color: #65737e;  
}

.checkBoxInner#search:hover, .checkBoxInner input#search:focus, .checkBoxInner input#search:active{
outline:none;
background: #d8e9ff;
padding-right:10px;
}

.checkBoxInner input#search:hover, .checkBoxInner input#search:focus, .checkBoxInner input#search:active{
outline:none;
background: #d8e9ff;
padding-right:10px;
}


/* button 기본, 크기별*/

button {
	margin:1rem;
	text-align:center;
	box-sizing:border-box;
	border-radius:5px;
	margin:3px;
	cursor:pointer;
	background-color:#345AA0;
	color:#fff; 
}

/* button a {color:#fff;} */

.btn_b{
	width:460px;
	line-height:50px;
	height:50px;
	font-size:18px;
	background-color:#345AA0;
}

.btn_m{
	width:252px;
	line-height:74px;
	height:74px;
	font-size:18px;
	background-color:#345AA0;
}
.btn_s{
	width:225px;
	line-height:52px;
	height:52px;
	font-size: 18px;
	background-color:#345AA0;
}
.btn_xs{
	width:130px;
	line-height:50px;
	height:50px;
	font-size: 18px;
	background-color:#345AA0;
}
.btn_xxs{
	width:130px;
	line-height:46px;
	height:46px;
	font-size: 16px;
	background-color:#345AA0;
}

/* button color별 */

.btn_wh{
	background-color:#fff;
	border:1px solid #345AA0;
	color:#345AA0;
}
.btn_lb{
	background-color:#5C84B4;
	border:0px solid #345AA0;
	color:#fff;
}
.btn_llb{
	background-color:#A1B7CD;
	border:0px solid #345AA0;
	color:#fff;
}
.btn_gr{
	background-color:#D9D9D9;
	border:0 solid #345AA0;
	color:#345AA0;
}

/* button active, hover */

button a {  color:#fff; }
.btn_wh a { color:#345AA0; }
.btn_lb a {  color:#fff; }
.btn_llb a {  color:#fff; }
.btn_gr a {  color:#345AA0; }

button:hover { background-color:#2B3C5B; color:#fff; }
.btn_wh:hover { background-color:#F0F3F6; color:#345AA0; }
.btn_lb:hover { background-color:#3F62A3; color:#fff; }
.btn_llb:hover { background-color:#B4C5D7; color:#fff; }
.btn_gr:hover { background-color:#C6C6C6; color:#345AA0; }



input::placeholder {
	/* color: red; */
	font-size: .875rem;
	font-weight:normal;
}

input[type="text"]{
	/* margin: 25px 30px;  */
	font-size:14px; 
	/* padding-left: 10px;  */
}

input[type="search"]{
	font-size:14px; 
}