@charset "utf-8";

/* reset css */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,select,textarea,button {margin:0; padding:0;}
body,h1,h2,h3,h4,h5,h6 {font-size:12px; font-family:"hcR","돋움",dotum,sans-serif; color:#333;}
a {text-decoration:none; color:#333;}
ul,ol,li {list-style:none;}
img,fieldset, button{border:none; vertical-align:middle;}
strong,em, address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}

/* font */
@font-face {
	font-family: "hcR";
	src: url(../../font/regular.woff);
}

@font-face {
	font-family: "hcT";
	src: url(../../font/title.woff);
}

/* common */
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

/* 본문 색상밑줄 */
u{
	text-decoration:none;
	display:inline;
	box-shadow:inset 0 -10px #9dcafd;
	color: #000000;
	}
	/* 본문 색상밑줄 끝 */

/* layout */
html { height: 100%;}

body {
   /* overflow: hidden; */
    /* -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; */
  position: relative;
  width: 100%;
  /* overflow-x: hidden; */
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
 display: flex; flex-direction: column;}

 ::-webkit-scrollbar {
   width: 10px;
   height: 10px;
 }
 
 ::-webkit-scrollbar-track {
   background-color: #fff;
 }
 
 ::-webkit-scrollbar-thumb {
   background: #acbbdb;
   border-radius: 1rem;
 }
 ::selection {
  background: rgba(255, 137, 8, 0.3);
}


#wrap {	width: 100%; margin: 0 auto;}

.wrapInner { width: 1400px; }
/* 
outline:2px solid red; */

/* header */
header {
   outline:2px solid red; */
	background-color: #ffffff;
	margin: 0 auto;
}

#headerInner {
	width:1400px;
	height: 150px;
	margin: 0 auto;
   position: relative; 
}

#headerInner .logo {
	float: left;
	margin-top: 45px;
	width: 140px;
	height: auto;
}


#headerInner .topMenu li {
	float: right;
	margin-top: 60px;
	display: inline;
}

#headerInner .topMenu img {
	padding-left: 20px;
	width: 50px;
}

/* nav */
#navWrap {
	background-color: #5277A9;
	margin: 0 auto;
	width:100%;
}

#navWrap .gnb {
	height: 60px;
	margin: 0 auto;
	width:1400px;
}
#navWrap .gnbInner {
   padding:0 24px; /* 여백 */
}
#navWrap .gnb li {
	display: inline;
	color: white;
	font-size: 18px;
	line-height: 60px;
	width: 256px;
	height: 64px;
	margin: 0 50px 0 0;
	font-weight: normal;
}

/* 
outline:2px solid red; */

.gnb>li>a {
	color: #fff;
}

.gnb>li>a:hover {
	color: #bcc9ef;
}

.home {
	background-color: #F2F2F2;
	height: 55px;
	margin: 0 auto;
	width:100%;
}

.homeInner {
	height: 200px;
	margin: 0 auto;
	width:1400px;
   padding:0 24px; /* 여백 */
 }
 
.home img, .home p {
	float: left;
	line-height: 55px;
	font-size: 16px;
}

.home img {
	width: 30px;
	height: 30px;
	margin: 0 20px 0 0;
	padding-top: 11px;
}
.location a:hover { color:#bcc9ef;}

.title {
	display:inline-block;
	font-size: 32px;
	padding-top:30px;
	box-shadow:inset 0 -10px #9dcafd; 
	color: #000000;
}
.expTitle {
	padding-top:15px;
	font-size:13px;
}
hr {
   font-size: 0;
}
#main .line { 
   width:130px;
   background:url(../../img/bg_1px_c4c4c4.gif) bottom repeat-x;}


/* ============================================= */


/* 
outline:1px solid blue; */
#main {
   width:1400px;
	margin: 0 auto;
   padding:0 24px; /* 여백 */
}
#main:after { content:""; display:block; clear:both; }

section {margin:50px 0 30px 70px; }/* 사이드메뉴 제외한 가운데 내용 여백 */
.snb {
	margin:0 auto;
	float:left;
	margin:50px 0 50px 0;
}
.sideMenu{
	background-color:#F4F4F4;
	width:250px;
	margin:0 auto;
	border-radius:10px;
}

dt {
	text-align:center;
	background-color:#A1B7CD;
	border:1px solid #eee;
	border-radius:10px 10px 0 0;
	color:#fff;
	height:125px;
	line-height:120px;
	font-size:18px;
	margin-bottom:20px; 
}
dd {
	text-indent:10px;
	padding-left:15px; 
	color:#2f2f2f;
	background-color:#F4F4F4;
	height:60px;	
	line-height:60px;
	font-size:16px;	
	border-bottom:1px solid #BCBCBC;
}
dd a {
	display:block;
	color:#5684C9;
	background:url(../../img/icon/ico_arrow_sm.png) right no-repeat;
}
dd:last-of-type {
	border-radius:0 0 10px 10px;
	border-bottom:1px solid #F4F4F4;
}

/* 
outline:1px solid blue; */
.contents { 
	float:left;
	width:55%;
}
.contents p {
	margin:30px 0 0 0;
}

.sTitle, .xsTitle {

}
.sTitle {
	color:#5277A9;
	font-weight:bold;
	font-size:26px;
}

.xsTitle {
	color:#1f75d6;
	font-size:20px;
}
.contents .expXsTitle {	
	font-size:13px;
	line-height:40px;
}

.cont li{
	font-size:16px;
	line-height:40px;
	list-style:decimal
}