@charset "utf-8";

/* reset css */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,select,textarea,button {margin:0; padding:0;}
body,h1,h2,h3,h4,h5,h6 {font-size:12px; font-family:"hcR","돋움",dotum,sans-serif; color:#333;}
a {text-decoration:none; color:#333;}
ul,ol,li {list-style:none;}
img,fieldset, button{border:none; vertical-align:middle;}
strong,em, address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}

/* font */
@font-face {
	font-family: "hcR";
	src: url(../../font/regular.woff);
}

@font-face {
	font-family: "hcT";
	src: url(../../font/title.woff);
}

/* common */
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

::selection {
	background: #bad8fe;
  }

/* 본문 색상밑줄 */
u{
	text-decoration:none;
	display:inline;
	box-shadow:inset 0 -10px #9dcafd;
	color: #000000;
	}
/* 본문 색상밑줄 끝 */

/* layout */
body { width: 100%; overflow-x: hidden; min-height: 100vh;}
#wrap {	width: 100%; margin: 0 auto;}

/* 
outline:2px solid red; */

/* header */
header {
	background-color: #ffffff;
	margin: 0 auto;
}

#headerInner {
	max-width:1400px;
	height: 150px;
	margin: 0 auto;
	padding: 0 24px; /* 24px여백 */	
}

#headerInner .logo {
	float: left;
	margin-top: 45px;
	width: 140px;
	height: auto;
}


#headerInner .topMenu li {
	float: right;
	margin-top: 60px;
	display: inline;
}

#headerInner .topMenu img {
	padding-left: 20px;
	width: 50px;
}

/* nav */
#navWrap {
	background-color: #5277A9;
	margin: 0 auto;
}

#navWrap .gnb {
	height: 60px;
	margin: 0 auto;
	padding: 0 24px; /* 24px여백 */	
	width:1400px;
}

#navWrap .gnb li {
	display: inline;
	color: white;
	font-size: 18px;
	line-height: 60px;
	width: 256px;
	height: 64px;
	margin: 0 50px 0 0;
	font-weight: normal;
}

/* 
outline:2px solid red; */

.gnb>li>a {
	color: #fff;
}

.gnb>li>a:hover {
	color: #bcc9ef;
}

.home {
	background-color: #F2F2F2;
	height: 55px;
	margin: 0 auto;
}

.homeInner {
	position: relative;
	height: 200px;
	max-width:1400px;
	margin: 0 auto;
	padding: 0 24px; /* 24px여백 */	
 }
 
.home img, .home p {
	float: left;
	line-height: 55px;
	font-size: 16px;
}

.home img {
	width: 20px;
	height: 20px;
	margin: 0 20px 0 0;
	padding-top: 11px;
}
.location a:hover { color:#bcc9ef;}

.title {
	display:inline-block;
	font-size: 32px;
	padding-top:30px;
	box-shadow:inset 0 -10px #9dcafd; 
	color: #000000;
}
hr {
	width:100%;
	background:#c4c4c4;
	height:1px;
	border:0;
	font-size: 0;
	margin-top:10px;
 }
/* .line { 
   width:130px;
   background:url(../../images/bg_1px_c4c4c4.gif) bottom repeat-x;} */


/* ============================================= */


.gnb .sub {
	position: absolute;
	left: 0;
	top: 70px;
	width: 145px;
	z-index: 55;
	display: none;
}

.gnb .sub li {
	line-height: 16px;
	margin-bottom: 12px;
}

.gnb .sub li a {
	color: #666;
	font-size: 13px;
}

.gnb .sub li a:hover {
	color: #1f75d6;
}

/* 
outline:1px solid blue; */
#main {
	width:1400px;
	margin: 0 auto;
	padding: 0 24px; /* 24px여백 */	
}
#main:after { content:""; display:block; clear:both; }

aside {margin:40px 0; }/* 사이드메뉴 여백 */
section {margin:40px 0 30px 60px; }/* 사이드메뉴 제외한 가운데 내용 여백 */

.snb {
	float:left;
	margin:40px 0; /* 사이드메뉴 여백 위에게 안먹어서 이것으로 */
}
.sideMenu{
	background-color:#F4F4F4;
	width:250px;
	margin:0 auto;
	border-radius:10px;
}

dt {
	text-align:center;
	background-color:#A1B7CD;
	/* background-color:#829FBC; */
	border:1px solid #eee;
	border-radius:10px 10px 0 0;
	color:#fff;
	height:125px;
	line-height:125px;
	font-size:18px;
	margin-bottom:20px; 
}
dd {
	text-indent:10px;
	padding-left:15px; 
	color:#2f2f2f;
	background-color:#F4F4F4;
	height:56px;	
	line-height:56px;
	font-size:16px;	
	border-bottom:1px solid #BCBCBC;
}
dd a {
	display:block;
	color:#5684C9;
	background:url(../../images/ico_arrow_sm.png) right no-repeat;
}
dd:last-of-type {
	border-radius:0 0 10px 10px;
	border-bottom:1px solid #F4F4F4;
}

/* 
outline:1px solid blue; */
.contents { 
	float:left;
}

.contInner {
}

/* .contents p {
	margin:30px 0 0 0;
} */

.sTitle, .xsTitle {

}
h3.sTitle {
	color:#5277A9;
	font-weight:normal;
	font-size:26px;
	margin:0 0 20px 0;
}

.xsTitle {
	color:#1f75d6;
	font-size:20px;
	margin:20px 0 10px 0;
}

.expTitle {
	color:#345AA0;
	padding-top:15px;
	font-size:13px;
}
.contents .expXsTitle {	
	color:#1f75d6;
	font-size:13px;
	line-height:20px;
	margin:0 0 30px 0;
}

.cont li{
	font-size:16px;
	line-height:40px;
	list-style: square inside;
}