footer{position:relative;}
.chat_btn, .top_btn{
  display:block;
  width:60px; height:60px;
  border-radius:50%;
  position:fixed;
  right:15px;
  z-index:9999;
}
.chat_btn{overflow:hidden; bottom:15px;}
.chat_btn > img{
  width:100%;
}
.top_btn{
  background:#F0F0F0;
  text-align:center; bottom:15px; display:none;
}
.top_btn i.fas{
  font-size:25px;
  line-height:60px;
  color:#0F2F6E;
}

/* footer*/
#footer {   
	background-color: #5669ae;
	width:100%;
	margin:0 auto;
  }
  
  /* 
  outline:1px solid blue; */
  
.footerInner {
  background-color: #5669ae;
  margin:0 auto;
  padding:31px 0;
  width:1200px;
  padding:31px 7px;
  box-sizing:border-box;
}

.footLogo { 
  display: flex;
  width: 110px;
  height: auto;
}

.footAdd { 
  padding-top:20px;
  color:#b4b4b4;
}

.footAdd a{
  color:#b4b4b4;
}

.footAdd a:hover {
  color:#fff;
  }
  
/* .copyright::after { content:""; display:block; clear:both; } */
#footer li { 
  font-size: 15px; 
  display:inline;  
  color:#b4b4b4;
  }
  
/* 
outline:1px solid blue; */
  
  
#footer .copyright { 
  font-size: 15px; 
  letter-spacing:-0.3px; 
  padding-top:10px;
  width:100%;
  position:relative; 
}


.sns {
  position:absolute; 
  bottom:0px; 
  right:30px;
}

.sns li { 
  padding-left:20px;
}
.sns li img {
  height:26px;
}
