@charset "utf-8";

/* reset css */
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,select,textarea,button {margin:0; padding:0;}
body,h1,h2,h3,h4,h5,h6 {font-size:12px; font-family:"hcR","돋움",dotum,sans-serif; color:#333;}
a {text-decoration:none; color:#333;}
ul,ol,li {list-style:none;}
img,fieldset {border:none; vertical-align:middle;}
strong,em, address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}

/* font */
@font-face {
	font-family:"hcR";
	src:url(../../font/regular.woff);
}

@font-face {
	font-family:"hcT";
	src:url(../../font/title.woff);
}

/* common */
.clearfix:after {
	content:"";	
	clear:both;
	display:block;
}

/* layout */
#wrap {
	width:100%;
}

/* 
outline:2px solid red; */

/* header */
#header {
	background-color:#ffffff;
	width:100%;
}
#headerInner {	
	outline:2px solid rgb(145, 35, 103);
	width:1400px;
	margin:0 auto;
	height:178px;
}

.logo {
	float:left;
	background:url(../../img/logo0.svg) no-repeat 156px;
	background-position: top;
	margin-top:52px;
	min-width:156px;
	width:156px;
	height:74px;
}
.t_menu {
	outline:2px solid rgb(35, 128, 145);
	float:right;
	overflow:hidden;
	margin-top:60px;
}
.t_menu li {
	display:inline;
	margin-left:27px;
}
.t_menu li:first-child {
	position:relative;
}
.t_menu li:first-child:after {
	content:"";
	width:1px;
	height:11px;
	background-color:#515151;
	position:absolute;
	right:-14px;
	top:1px;
}
.t_menu li a {
	color:#777;
}
.t_menu .on a {
	color:#959595;
}
.t_menu li a:hover {
	color:#bcc9ef;
}

#navWrap {
	width:100%;
	background-color:#5277A9;
}

/* 
outline:2px solid red; */

.gnb { 
	width:1400px;
	margin:0 auto;
	height: 60px;
	clear:both;
}
.gnb>li {
	padding-right:130px;
	line-height:59px;
	float:left;
	position:relative;
}
.gnb>li>a {
	color: #fff;
	font-size:20px;
}
.gnb>li>a:hover {
	color:#bcc9ef;
}
.gnb .sub {
	position:absolute;
	left:0;
	top:70px;
	width:145px;
	z-index:55;
	display:none;
}
.gnb .sub li {
	line-height:16px;
	margin-bottom:12px;
}
.gnb .sub li a {
	color:#666;
	font-size:13px;
}
.gnb .sub li a:hover {
	color:#1f75d6;
}

.sub_bg {
	position:absolute;
	left:0;
	top:95px;
	width:100%;
	height:220px;
	background-color:#fff;
	z-index:50;
	display:none;
}

/* 
outline:1px solid blue; */
.ticket {
	background-color: #F2F2F2;
	width:100%;
	margin:0 auto;
	height: 55px;
	line-height:55px;
	/* display: flex; */
	justify-content: auto;
	/* align-items: center; */
}
.ticket .inner {
	width:1400px;
	line-height:55px;
	margin:0 auto;
}
.ticket h2 {
	width:300px;
	font-size: 18px;
}
/* .ticket .location { 
} */
.ticket img {
	height: 16px; /* 이미지의 크기 조정 */
	width: auto;
	margin-right:10px;

}
.ticket p {
	padding-left: 30px;
}

.ticket content{
	width: 1920px;
	height: 40px;
	display: flex;
	justify-content: auto;
	align-items: center;
}

#ticket_content{
	display: flex;
	justify-content: auto;
	align-items: center;
	padding-top:800px;
}

#container {
	background-color: #6d7ac9;
	height:50%;
}

.space {
	width:100%;
	height:300px;
}

