@charset "utf-8";


.inquiry { 
	width: 800px; 
	height: 450px; 
	position: relative; 
	}

	.inquiry h2{
		width:200px; 
		height:100px; 
		line-height:100px; 
		text-align:center; 
		font-size:24px ; 
		background-color:#A1B7CD; 
		position: absolute; 
		}
	
.searchBar{
	width:600px; 
	height:98px; 
	margin:0 0 20px 200px; 
	border:1px solid #919191; 
	border-left:none; 
	position:absolute;
	}
	
    .searchBar input[type="text"]{
		width:400px;
		height:50px; 
		margin: 25px 30px; 
		font-size:14px; 
		padding-left: 10px; 
		}
		
    .searchBar p{
		width:100px; 
		height:50px; 
		background-color:#D9D9D9; 
        border-radius:10px; 
		text-align: center; 
		line-height:50px ;
        font-size:16px; 
		position:absolute; 
		left:465px; 
		top:27px; 
		font-weight: bold; 
		cursor: pointer;
		}
		
	.searchBar p:hover { 
		background-color: transparent; 
		}



table{
	border-collapse : collapse; 
	position: absolute; 
	top: 125px;
	}  /*이중선 제거*/
	
	th,td{
		width: 100px;
		height: 50px;
		text-align: center;

		vertical-align: top;	/* 위 */
		vertical-align: bottom;   /* 아래 */
		vertical-align: middle;   /* 가운데 */
		}
	
   th{
	   background-color:#A1B7CD;
		font-size:16px; 
		border-right: 1px solid #D9D9D9; 
		}
		
	.inquiry table th{
		width:150px; 
		}
		
   tr:nth-child(2) {
	   border: 1px solid #D9D9D9;
	   }
	   
   td{
	   height:250px; 
	   color:#B6B6B6;
	   }
       
	   